.header {
   width: 100dv;
   height: 40px;
   background-color: rgba(26, 26, 26, 1);
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: Arial, Helvetica, sans-serif;
   position: sticky;
   top: 0;
   z-index: 1;
   zoom: 125%;
}

.header nav {
   display: flex;
   justify-content: center;
   align-items: center;
}

.header nav a {
   color: rgb(148, 148, 148);
   text-decoration: none;
   font-size: 15px;
   transition: .2s ease-in;
}

.header nav a:hover {
   color: white;
   transition: .2s ease-in;
}

.header nav a:not(:first-child),
.header nav div.cart {
   margin-left: 35px;
}

.header nav a.activeLink {
   color: white;
}

.header nav div.cart {
   color: rgb(148, 148, 148);
}

.header nav div .shoppingBag {
   cursor: pointer;
   transition: .2s ease-in;
}

.header nav div .shoppingBag.cartActive {
   color: white;
   transition: .2s ease-in;
}

.header nav div .shoppingBag:hover {
   color: white;
   transition: .2s ease-in;
}

.header nav div .cartIcon {
   position: relative;
}

.header nav div .cartLength {
   position: absolute;
   font-size: 11px;
   right: -4px;
   bottom: 0px;
   background-color: white;
   color: black;
   width: 12px;
   height: 12px;
   border-radius: 50%;
   text-align: center;
   cursor: pointer;
}

.header nav div .cart-content {
   position: absolute;
   left: 0;
   top: 40px;
   width: 100%;
   background-color: rgba(26, 26, 26, 1);
   backdrop-filter: blur(4px);
   padding: 25px 50px;
   line-height: 40px;
   transform: translateY(-130%);
   transition: .3s ease-in;
   animation-timing-function: linear;
   z-index: -10;
}

.header nav div .cart-content.active {
   transform: translateY(0);
   transition: .3s ease-in;
   animation-timing-function: linear;
}

.header nav div .cart-content .myProfile {
   color: white;
}

.header nav div .cart-content .cartIcon {
   margin: 0 12px;
   display: flex;
   align-items: center;
   column-gap: 8px;
   cursor: pointer;
   transition: .2s ease-in;
}

.header nav div .cart-content .cartIcon:hover {
   transition: .2s ease-in;
   color: white;
}

.bleed {
   width: 550px;
   margin: 0 auto;
}