.container {
   display: flex;
   width: 275px;
   height: 75px;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
   border: 1px solid rgb(141, 141, 141);
   border-radius: 15px;
   color: gray;
}

.container:hover {
   border-color: black;
   cursor: pointer;
}

.container.selected {
   border: 2px solid #0071e3;
}

.container h4 {
   color: black;
}

.container p {
   width: 150px;
   font-size: 11px;
   text-align: center;
   color: black;
}