.notVideo {
   max-width: 1200px;
   height: 550px;
   margin: 0 auto;
   border-radius: 25px;
   position: relative;
   background-color: white;
   border-radius: 25px;
   background-position: center;
   background-size: 300px;
   background-repeat: no-repeat;
}

.notVideo .info {
   max-width: 350px;
   position: absolute;
   left: 0;
   right: 0;
   margin: 0 auto;
   text-align: center;
   top: 50%;
   transform: translateY(-50%);
}

.notVideo .info h1 {
   font-size: 64px;
}

.notVideo .info h5 {
   font-size: 18px;
}

.notVideo .links {
   position: absolute;
   left: 0;
   right: 0;
   margin: 0 auto;
   bottom: 25px;
   display: flex;
   align-items: center;
   justify-content: center;
   column-gap: 15px;
}

.notVideo .links button {
   width: 75px;
   height: 30px;
   border-radius: 15px;
   background-color: #0071e3;
   color: white;
   border: none;
   cursor: pointer;
}

.notVideo .links button:hover {
   background-color: #035fbb;
}

.notVideo .links a {
   color: #0071e3;
   text-decoration: none;
}

.container .links a:hover {
   text-decoration: underline;
}

@media (max-width: 1024px) {
   .notVideo {
      height: 450px;
      background-size: 700px !important;
   }
}

@media (max-width: 740px) {
   .notVideo {
      height: 500px;
      max-width: 350px;
      background-size: 350px !important;
      background-position: 50% 25%;
   }

   .notVideo .info {
      transform: translateX(0);
      bottom: 75px;
      top: initial;
   }

   .notVideo .info h1 {
      font-size: 48px;
   }   
}

@media (max-width: 440px) {
   .notVideo {
      background-size: 250px !important;
      height: 400px;
   }
}


