.container {
   max-width: 1000px;
   margin: 0 auto;
}

.empty {
   text-align: center;
   padding: 125px;
   line-height: 40px;
}

.empty h1 {
   font-size: 40px;
}

.empty button {
   background-color: #2a6eff;
   color: white;
   border-radius: 10px;
   border: none;
   width: 350px;
   height: 40px;
   margin-top: 25px;
   cursor: pointer;
}

.header-checkout {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 12px 24px;
   border-bottom: 1px solid lightgray;
}

.header-checkout p:first-child {
   font-size: 20px;
}

.header-checkout .total {
   color: rgb(49, 119, 250);
   font-size: 14px;
}

.checkout {
   padding: 0 25px;
}

.checkout > h1 {
   margin: 50px 0;
}


.form {
   display: flex;
   flex-direction: column;
   row-gap: 1rem;
}

.form > div {
   position: relative;
}

.form .input label {
   position: absolute;
   left: 15px;
   top: 50%;
   transform: translateY(-50%);
   font-size: 16px;
   color: rgb(70, 70, 70);
   pointer-events: none;
   transition: .15s ease-in;
}

.form .input input {
   height: 45px;
   width: 350px;
   border-radius: 10px;
   border: 1px solid lightgray;
   text-indent: 15px;
   padding-top: 15px;
}

.form .contact {
   margin-top: 25px;
}

.form .zipcodeAndCity {
   max-width: 350px;
   display: flex;
   justify-content: space-between;
}

.form .zipcodeAndCity .city {
   position: absolute;
   left: 195px !important;

}

.form .zipcodeAndCity input {
   width: 170px;
}

.form > div input:focus {
   outline: 2px solid #7aa4ff;
   border: none;
}

.form .input input:focus ~ label,
.form .input input:valid ~ label {
   top: 15px;
   font-size: 11px;
   transition: .15s ease-in;
}

.border::before {
   content: '';
   position: absolute;
   width: 100%;
   height: 1px;
   background: lightgray;
   margin: 35px 0;
}

.form .button {
   width: 350px;
   background-color: #2a6eff;
   height: 45px;
   color: white;
   border-radius: 10px;
   border: none;
   cursor: pointer;
   border-top: 1px solid lightgray;
   margin: 70px 0 30px 0;
}

.form .button:hover {
   background-color: #3b79ff;
}