.container {
   max-width: 1920px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   row-gap: 2rem;
   padding: 50px;
   background-color: #f8f7f7;
   box-shadow: 0 0 0 100vmax #f8f7f7;
   clip-path: inset(0 -100vmax);
}
