.container {
   padding: 75px;
   scroll-behavior: smooth;
   max-width: 1920px;
   margin: 0 auto;
   zoom: 125%;
}

.container .textInfo {
   line-height: 40px;
   margin-bottom: 50px;
}

.container .textInfo .sobriquet {
   color: rgb(197, 128, 0);
   font-size: 13px;
}

.container .textInfo .trade {
   font-weight: 100;
   font-size: 13px;
   color: rgb(78, 78, 78);
}

.image {
   width: 500px;
}

.image img {
   width: 100%;
}

.iphone {
   display: flex;
   column-gap: 2rem;
}

.form {
   display: flex;
   flex-direction: column;
   max-width: 300px;
   margin: 0 auto;
   row-gap: 2rem;
}

@media (max-width: 1800px) {
   .iphone {
      flex-direction: column;
      align-items: center;
   }

   .form {
      display: grid;
      grid-template-areas:
      'model storage'
      'colorr storage';
      place-content: center;
      column-gap: 2rem;
      margin-top: 50px;
      row-gap: 5rem;
   }

   .form .model {
      grid-area: model;
   }
   
   .form .color {
      grid-area: colorr;
      margin-top: -125px;
   }
   
   .form .storage {
      grid-area: storage;
   }
}

@media (max-width: 875px) {
   .container {
      padding: 25px 0;
   }

   .container .textInfo {
      padding: 0 15px;
   }
   
   .iphone {
      flex-direction: column;
   }

   .form {
      display: flex;
   }

   .form .color {
      grid-area: colorr;
      margin-top: 0px;
   }
}