.container {
   padding: 75px;
   scroll-behavior: smooth;
   max-width: 1920px;
   margin: 0 auto;
}

.container .textInfo {
   line-height: 40px;
   margin-bottom: 50px;
}

.container .textInfo .sobriquet {
   color: rgb(197, 128, 0);
   font-size: 13px;
}

.container .textInfo .trade {
   font-weight: 100;
   font-size: 13px;
   color: rgb(78, 78, 78);
}

.image {
   width: 500px;
}

.image img {
   width: 100%;
}

.iphone {
   display: flex;
   column-gap: 2rem;
}

.form {
   display: flex;
   flex-direction: column;
   max-width: 300px;
   margin: 0 auto;
   row-gap: 2rem;
}

.environment {
   text-align: center;
   max-width: 1200px;
   margin: 100px auto 0 auto;
   display: flex;
   flex-direction: column;
   row-gap: 1rem;
   font-family: Arial, Helvetica, sans-serif;
}

.environment h5 {
   font-size: 15px;
   color: rgb(168, 168, 168);
}

.environment p {
   font-size: 15px;
   color: rgb(146, 146, 146);
   font-weight: 100;
}