.container {
   max-width: 1920px;
   margin: 0 auto;
   text-align: center;
   padding: 100px 150px;
   line-height: 50px;
   zoom: 125%;
}

.container img {
   width: 100px;
}

@media (max-width: 815px) {
   .container {
      padding: 75px 0;
   }
}

@media (max-width: 485px) {
   .container h1 {
      font-size: 24px;
   }

   .container img {
      width: 50px;
   }

   .container p {
      font-size: 14px;
   }
}