.container {
   text-align: center;
   max-width: 1200px;
   margin: 100px auto 0 auto;
   display: flex;
   flex-direction: column;
   row-gap: 1rem;
   font-family: Arial, Helvetica, sans-serif;
}

.container h5 {
   font-size: 15px;
   color: rgb(31, 31, 31);
}

.container p {
   font-size: 15px;
   color: rgb(48, 48, 48);
   font-weight: 100;
}