.container {
   display: flex;
   flex-direction: column;
   background-color: #f7f7f7;
   max-width: 1920px;
   margin: 0 auto;
   zoom: 125%;
}

.container .header {
   background-color: white;
   box-shadow: 0 0 0 100vmax white;
   padding: 25px 50px;
   clip-path: inset(0 -100vmax);
}

.container .header h1 {
   margin: 24px 0;
   font-size: 40px;
   font-weight: 500;
}

.container .header p {
   margin: 32px;
   font-size: 24px;
   font-weight: 700;
}

.container .header span {
   color: gray;
}

.container .all-models {
   display: grid;
   grid-template-columns: repeat(auto-fill, 325px);
   place-content: center;
   gap: 1rem;
   padding: 50px;
   box-shadow: 0 0 0 100vmax #f7f7f7;
   clip-path: inset(0 -100vmax);
}