.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   user-select: none;
   max-width: 400px;
}

.container > img {
   width: 100%;
}

.image-picker {
   display: flex;
   column-gap: 10px;
}

.image-picker img {
   width: 45px;
   cursor: pointer;
   border-bottom: 1px solid transparent;
}

.image-picker .active {
   border-bottom: 1px solid lightgray;
}

@media (max-width: 424px) {
   .image-picker img {
      width: 35px;
   }
}